# usual build directory names
build
build_dir

# IDE project files/directories
.kdev4
.directory
CMakeLists.txt.user*
.idea

# qmake derivatives
Makefile*
object_script.*
.qmake*
debug/
release/

# CMake derivatives
CMakeCache.txt
cmake_install.cmake
Makefile
Quotient_autogen/
.cmake/
tests/.cmake/
