# usual build directory names
build
build_dir

# IDE project files/directories
*.kdev4
.directory
*.user*
.idea

# qmake derivatives
Makefile*
object_script.*
.qmake*
debug/
release/

# CMake derivatives and user data
CMakeCache.txt
cmake_install.cmake
Makefile
Quotient_autogen/
.cmake/
tests/.cmake/
autotests/synapse-data
CMakeUserPresets.json

# clangd
.cache/
compile_commands.json

# Created by doxygen
html/
latex/
