{{#@filePartial}}preamble{{/@filePartial}}
#include "{{filenameBase}}.h"
{{^allModels}}
#include "converters.h"
{{/allModels}}{{#operations}}
{{#producesNotJson?}}#include <QtNetwork/QNetworkReply>
{{/producesNotJson?}}#include <QtCore/QStringBuilder>
{{/operations}}
using namespace QMatrixClient;
{{#models.model}}{{^trivial?}}
{{qualifiedName}}::operator QJsonValue() const
{
    QJsonObject o;
    {{#vars}}o.insert("{{baseName}}", toJson({{nameCamelCase}}));
    {{/vars}}
    return o;
}

{{qualifiedName}} FromJson<{{qualifiedName}}>::operator()(QJsonValue jv)
{
    QJsonObject o = jv.toObject();
    {{qualifiedName}} result;
    {{#vars}}result.{{nameCamelCase}} =
        fromJson<{{dataType.name}}>(o.value("{{baseName}}"));
    {{/vars}}
    return result;
}
{{/trivial?}}{{/models.model}}{{#operations}}
static const auto basePath = QStringLiteral("{{basePathWithoutHost}}");
{{#    operation}}{{#models.model}}{{^trivial?}}
{{qualifiedName}}::operator QJsonObject() const
{
    QJsonObject o;
    {{#vars}}o.insert("{{baseName}}", toJson({{nameCamelCase}}));
    {{/vars}}
    return o;
}
namespace QMatrixClient
{
    template <> struct FromJson<{{qualifiedName}}>
    {
        {{qualifiedName}} operator()(QJsonValue jv)
        {
            QJsonObject o = jv.toObject();
            {{qualifiedName}} result;
            {{#vars}}result.{{nameCamelCase}} =
            fromJson<{{dataType.qualifiedName}}>(o.value("{{baseName}}"));
            {{/vars}}
            return result;
        }
    };
} // namespace QMatrixClient
{{/    trivial?}}{{/models.model}}{{#responses}}{{#normalResponse?}}{{#allProperties?}}
class {{camelCaseOperationId}}Job::Private
{
    public:{{#allProperties}}
        {{dataType.name}} {{paramName}};{{/allProperties}}
};
{{/    allProperties?}}{{/normalResponse?}}{{/responses}}
{{camelCaseOperationId}}Job::{{camelCaseOperationId}}Job({{#allParams}}{{>maybeCrefType}} {{paramName}}{{#@join}}, {{/@join}}{{/allParams}})
    : BaseJob(HttpVerb::{{#@cap}}{{#@tolower}}{{httpMethod}}{{/@tolower}}{{/@cap}}, "{{camelCaseOperationId}}Job",
        basePath{{#pathParts}} % {{_}}{{/pathParts}},
        Query {{^queryParams}}{ }{{/queryParams}}{{#queryParams?}}{
            {{#queryParams}}{ "{{baseName}}", toJson({{paramName}}).toString() }{{#@join}},
            {{/@join}}{{/queryParams}}
        }{{/queryParams?}}{{#skipAuth}}, Data { }, false{{/skipAuth}}
    ){{#responses}}{{#normalResponse?}}{{#allProperties?}}, d(new Private){{/allProperties?}}{{/normalResponse?}}{{/responses}}
{{#bodyParams?}}{
{{#headerParams?}}{{#headerParams}}    setRequestHeader("{{baseName}}", {{paramName}}.toLatin1());
{{/headerParams}}
{{/headerParams?}}{{#inlineBody}}    setRequestData(Data({{paramName}}));{{/inlineBody}}{{!
}}{{^inlineBody}}    QJsonObject _data;{{#bodyParams}}
{{^required?}}{{#string?}}    if (!{{paramName}}.isEmpty())
    {{/string?}}{{/required?}}    _data.insert("{{baseName}}", toJson({{paramName}}));{{/bodyParams}}
    setRequestData(_data);{{/inlineBody}}{{#produces?}}
{{#produces}}
    addExpectedContentType("{{_}}");{{/produces}}{{/produces?}}
}{{/bodyParams?}}{{^bodyParams?}}{ }{{/bodyParams?}}
{{#    responses}}{{#normalResponse?}}{{#allProperties?}}
{{camelCaseOperationId}}Job::~{{camelCaseOperationId}}Job() = default;
{{#        allProperties}}
{{>qualifiedMaybeCrefType}} {{camelCaseOperationId}}Job::{{paramName}}() const
{
    return d->{{paramName}};
}
{{/        allProperties}}{{#producesNotJson?}}
BaseJob::Status {{camelCaseOperationId}}Job::parseReply(QNetworkReply* reply)
{
    {{#headers}}d->{{paramName}} = reply->rawHeader("{{baseName}}"); {{! We don't check for required headers yet }}
    {{/headers}}{{#properties}}d->{{paramName}} = reply->readAll();{{/properties}}
    return Success;
}{{/       producesNotJson?}}{{^producesNotJson?}}
BaseJob::Status {{camelCaseOperationId}}Job::parseJson(const QJsonDocument& data)
{
    auto json = data.object();
    {{#        properties}}{{#required?}}if (!json.contains("{{baseName}}"))
        return { JsonParseError,
            "The key '{{baseName}}' not found in the response" };
    {{/required?}}d->{{paramName}} = fromJson<{{dataType.name}}>(json.value("{{baseName}}"));
    {{/        properties}}return Success;
}{{/       producesNotJson?}}
{{/allProperties?}}{{/normalResponse?}}{{/responses}}{{/operation}}{{/operations}}
