name: Deploy docs to Github pages

on:
  push:
    branches: ["dev"]

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Install doxygen
        run: sudo apt-get -qq install doxygen 
      - name: Checkout
        uses: actions/checkout@v3
      - name: Update submodules
        run: git submodule update --init
      - name: Build docs
        run: doxygen
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: 'html'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
